<div class="col-sm-12" ng-controller="Stocks">
  <table ng-show="list.length > 0" class="table table-condensed">
    <thead>
      <th>
        Symbole
      </th>
      <th>
        Nom
      </th>
      <th>
        Prix (USD)
      </th>
      <th ng-show="!search">
        Date d'achat
      </th>
    </thead>
    <tbody ng-repeat="stock in list" >
      <tr>
        <td class="col-sm-2">{{stock.symbol}}</td>
        <td class="col-sm-3">{{stock.name}}</td>
        <td class="col-sm-1">{{stock.price}}</td>
        <td ng-show="!search" class="col-sm-3">{{stock.dateAdded}}</td>
        <td class="col-sm-3">
          <button class="btn btn-success" ng-click="buy(stock)">
            Acheter
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="text-center">
    <svg ng-show="loading" class="spinner" width="35px" height="35px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
      <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
    </svg>
  </div>
</div>